{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<section class="vh-100 background-radial-gradient overflow-hidden">
<style>
    .background-radial-gradient {
      background-color: hsl(218, 41%, 15%);
      background-image: radial-gradient(
          650px circle at 0% 0%,
          hsl(218, 41%, 35%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%
        ),
        radial-gradient(
          1250px circle at 100% 100%,
          hsl(218, 41%, 45%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%
        );
    }

    .bg-glass {
      background-color: hsla(0, 0%, 100%, 0.9) !important;
      backdrop-filter: saturate(200%) blur(25px);
    }
  </style>

    <div class="container py-5 h-100" style="color: #ffffff">
    <div class="form-outline mb-4">
    <h1 class="fw-normal mb-3 pb-3" style="color: #ffffff">{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <div class = "px-auto mx-5" style="color: #ffffff">
    <p style="color: #ffffff" align="center">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it. Please check your spam folder if not found in general" %}</p>
    </div>
    <form class="card-body p-4 text-black" method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <div class="d-flex align-items-center mb-3 pb-1">
            <i
              class="fas fa-cubes fa-2x me-3"
              style="color: #ff6219"
            ></i>
            <span class="h1 fw-bold mb-0">Hello! Coder</span>
          </div>
        {{ form }}
        <div class="pt-1 mb-4">
        <input type="submit" class="btn btn-dark btn-lg btn-block" value="{% trans 'Reset My Password' %}" />
        </div>
    </form>

    <div class="mx-5 px-auto">
        <hr style="height: 2px; border: 0; box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);">
    <p align="center">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
    </div>
</div>
</section>
{% endblock %}