{% extends '../layout.html'%} {% block content %}
<style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
    body{
        background: -webkit-linear-gradient(
          left,
          hsl(218, 41%, 45%),
          hsl(218, 41%, 15%)
        );
      font-family: 'Open Sans',serif;font-size: 14px
    }
    .container-fluid{
        margin-top:20px}
    .card-body{-ms-flex: 1 1 auto;flex: 1 1 auto;padding: 1.40rem; font-size:20px;}
    .img-sm{width: 80px;height: 80px}
    .itemside .info{padding-left: 15px;padding-right: 7px}
    .table-shopping-cart .price-wrap{line-height: 1.2}
    .table-shopping-cart .price{font-weight: bold;margin-right: 5px;display: block}
    .text-muted{color: #969696 !important}a{text-decoration: none !important}
    .card{position: relative;display: -ms-flexbox;display: flex;-ms-flex-direction: column;flex-direction: column;min-width: 0;word-wrap: break-word;background-color: #fff;background-clip: border-box;border: 1px solid rgba(0,0,0,.125);border-radius: 0px}.itemside{position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;width: 100%}.dlist-align{display: -webkit-box;display: -ms-flexbox;display: flex}[class*="dlist-"]{margin-bottom: 5px}.coupon{border-radius: 1px}.price{font-weight: 600;color: #212529}.btn.btn-out{outline: 1px solid #fff;outline-offset: -5px}.btn-main{border-radius: 2px;text-transform: capitalize;font-size: 15px;padding: 10px 19px;cursor: pointer;color: #fff;width: 100%}.btn-light{color: #ffffff;background-color: #F44336;border-color: #f8f9fa;font-size: 12px}.btn-light:hover{color: #ffffff;background-color: #F44336;border-color: #F44336}.btn-apply{font-size: 11px}
    .head{display:flex; justify-content:center; align-item:center; color:white ; font-family: Georgia; margin-bottom:40px;}
    .big{width:10vw; margin-right:5vw; height:3vw; font-size:20px;}
</style>
<div class="container-fluid">
    <div class="head">
        <h1 style="font-size:5vw; text-decoration:underline;">Your Coupons</h1>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <div class="card">
                <div class="table-responsive">
                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Coupon</th>
                                <th scope="col" width="120">Quantity</th>
                                <th scope="col" width="120">Desciption</th>
                                <th scope="col" class="text-right d-none d-md-block" width="200"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <figure class="itemside align-items-center">
                                        <div class="aside"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTu-JxuDBGV26p7Q2Tq-3L9By2CGBrixYvtKg&usqp=CAU" class="img-sm"></div>
                                        <figcaption class="info"> <a href="#" class="title text-dark" >Tshirt with round neck</a>
                                            <p class="text-muted small">SIZE: L <br> Brand: MAXTRA</p>
                                        </figcaption>
                                        
                                    </figure>
                                </td>
                                <td> 
                                    1
                                <td>
                                    <div class="price-wrap">$10.00 </div>
                                </td>
                                <td class="text-right d-none d-md-block"> <a href="" class="btn btn-light big" name="redeem"> Redeem</a> </td>
                                
                            </tr>
                           
                            <tr>
                               
                                <td>
                                    
                                    <figure class="itemside align-items-center">
                                        <div class="aside"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTu-JxuDBGV26p7Q2Tq-3L9By2CGBrixYvtKg&usqp=CAU" class="img-sm"></div>
                                        <figcaption class="info"> <a href="#" class="title text-dark">Flower Formal T-shirt</a>
                                            <p class="text-muted small">SIZE: L <br> Brand: ADDA </p>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td> 1
                                <td>
                                    <div class="price-wrap"> $15</div>
                                </td>
                                <td class="text-right d-none d-md-block"> <a href="" class="btn btn-light btn-round big" name="redeem">Redeem</a> </td>
                            </tr>
                            <tr>
                                <td>
                                    <figure class="itemside align-items-center">
                                        <div class="aside"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTu-JxuDBGV26p7Q2Tq-3L9By2CGBrixYvtKg&usqp=CAU" class="img-sm"></div>
                                        <figcaption class="info"> <a href="#" class="title text-dark">Printed White Tshirt</a>
                                            <p class="small text-muted">SIZE:M <br> Brand: Cantabil</p>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td> 1
                                <td>
                                    <div class="price-wrap price">50$</div>
                                </td>
                                <td class="text-right d-none d-md-block">  <a href="" class="btn btn-light btn-round big" name="redeem"> Redeem</a> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card mb-3">
                <div class="card-body">
                   Total points earned =
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock content %}