{% extends '../layout.html'%} {% block content %} {% if not lead %}
<style>
  body {
    background: -webkit-linear-gradient(
      left,
      hsl(218, 41%, 45%),
      hsl(218, 41%, 15%)
    );
    color: #333;
  }
  .center{
    color:white;
  position:absolute;
  top:40vh;
  left:35vw}
</style>
<button type="button" class="btn btn-warning btn-lg" style=" margin-left:20px;"><a href={% url "profile"%} style="text-decoration:none; color:white;">Home</a></button>
<button type="button" class="btn btn-primary btn-lg" style=" margin-left:70vw;"><a href={% url "logout"%} style="text-decoration:none; color:white;">Logout</a></button>
<button type="button" class="btn btn-warning btn-lg" ><a href={% url "coupon_page" %} style="text-decoration:none; color:white;">Rewards</a></button>
<div class="center">
<h1>Updating Leaderboard</h1>
<h2>Please Wait......</h2>
</div>
{% else %}
<style>
  @import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:400,900&display=swap");
  body,
  html {

    background: -webkit-linear-gradient(
      left,
      hsl(218, 41%, 45%),
      hsl(218, 41%, 15%)
    );
    color: #333;
  }
  .addi{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    padding: 20px;
    margin-top: 20px;
    
  }
  .top3{
    display:flex;
    justify-content:center;
    align-items:center;

  }
  .top3 .item{
    background-color:white;
    color: black;
    padding:40px;
    padding-left:60px;
    padding-right:60px;

    margin: 15px;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
  .top3 .pos{
    font-size: 40px;
    margin: 10px;
  }
  .top3 .score{
    font-size: 20px;
    color:orange;
  }
  .top3 .two:hover{
    padding:80px;
  }
  .top3 .one:hover{
    padding:80px;
  }
  .top3 .three:hover{
    padding:80px;
  }
  .list{
    margin-top:50px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
  .list .item{
    background-color:purple;
    color:white;
    padding-left:1vw;
    padding-right:5vw;
    margin:10px;
    padding-top:1vw;
    padding-bottom:1vw;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-item:center;
  }
  .list .item .name{
    padding-right:20vw;
    padding-left:5vw;
  }
</style>
<button type="button" class="btn btn-warning btn-lg"><a href={% url "profile"%} style="text-decoration:none; color:white;">Home</a></button>
<button type="button" class="btn btn-warning btn-lg" ><a href={% url "coupon_page" %} style="text-decoration:none; color:white;">Rewards</a></button>
<button type="button" class="btn btn-primary btn-lg" ><a href={% url "logout"%} style="text-decoration:none; color:white;">Logout</a></button>

<div class="addi">
  <h1>Leaderboard for {{contest}}</h1>
</div>
<div class="center">
  <div class="top3">
    <div class="two item">
      <div class="pos">2</div>
      <div class="name">{{lead.1.user}}</div>
      <div class="score">15</div>
    </div>
    <div class="one item">
      <div class="pos">1</div>
      <div class="name">{{lead.0.user}}</div>
      <div class="score">35</div>
    </div>
    <div class="three item">
      <div class="pos">3</div>
      <div class="name">{{lead.2.user}}</div>
      <div class="score">15</div>
    </div>
  </div>
  <div class="list">
    {% for participants in lead|slice:"3:" %}
    <div class="item">
      <div class="pos1"></div>
      <div class="name">{{participants.user}}</div>
      {% if forloop.counter1 > 8 %}
      <div class="score">1</div>
      {%else%}
      <div class="score">5</div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
{% endif %} <script>
  console.log()
  var k = document.getElementsByClassName('pos1')
console.log(k)
  for (var i=0;i<k.length;i++)
  {
    k[i].innerHTML=i+4;
  }
</script>
{% endblock content %}
