{% extends '../layout.html'%} {% block content %}

<style>
  body {
    background: -webkit-linear-gradient(
      left,
      hsl(218, 41%, 45%),
      hsl(218, 41%, 15%)
    );
  }
  .emp-profile {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
  }
  .profile-img {
    text-align: center;
  }
  .profile-img img {
    width: 70%;
    height: 100%;
  }
  .profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
  }
  .profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
  }
  .profile-head h5 {
    color: #333;
  }
  .profile-head h6 {
    color: #0062cc;
  }
  .profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
  }
  .proile-rating {
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
  }
  .proile-rating span {
    color: #495057;
    font-size: 15px;
    font-weight: 600;
  }
  .profile-head .nav-tabs {
    margin-bottom: 5%;
  }
  .profile-head .nav-tabs .nav-link {
    font-weight: 600;
    border: none;
  }
  .profile-head .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #0062cc;
  }
  .profile-work {
    padding: 14%;
    margin-top: -15%;
  }
  .profile-work p {
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
  }
  .profile-work a {
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
  }
  .profile-work ul {
    list-style: none;
  }
  .profile-tab label {
    font-weight: 600;
  }
  .profile-tab p {
    font-weight: 600;
    color: #0062cc;
  }
  .date {
    font-size: 15px;
    text-align: center;
  }
  .list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>
<button type="button" class="btn btn-primary btn-lg" style="float:right; margin-right:20px;">Log Out</button>
<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
            alt=""
            style="height: 300px; width: 300px"
          />
        </div>
      </div>
      <br />
      <div class="col-md-6">
        <div class="profile-head">
          <h1 style="font-family:Lucida Sans; margin-left:100px;">{{user.username}}</h1>
          {% comment %}
          <h3>Total Points :{{user.}}</h3>
          {% endcomment %}
          
          <h4 style="margin-top:50px; color:grey; margin-left:100px;"><em>"</em>Inspiration does exist, but it must find you working.<em>"</em></h4>
          {% if codeforces %}
          {% else %}
          <from style="margin-left:100px;">
            {% csrf_token %}
            <h6 style="color:purple; margin-top:100px; ">Enter your codeforces handle</h6>
          <input
            name="codeforces_handle"
            type="text"
            required
          />
          <input type="submit">
          </form style="margin-left:100px;">
          {% endif %}
          {% if lichess %}
          {% else %}
          <form>
            {% csrf_token %}
            <h6 style="color:purple; margin-top:10px">Enter your lichess handle</h6>
          <input
            name="lichess_handle"
            type="text"
            required
          />
          <input type="submit">
          </form>
          {% endif %}
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />

    <div class="row">
      
      <div class="col-md-10" style="padding-left: 8vw">
        <h3>Codeforces</h3>
        <hr />
        <div class="tab-content profile-tab">
          <div class="tab-pane fade show active">
            <div class="row">
              <div class="col-md-6">
                <label>User Id</label>
              </div>
              <div class="col-md-6">
                <p>{{codeforces.username}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Max rating</label>
              </div>
              <div class="col-md-6">
                <p>{{codeforces.max_rating}}</p>
              </div>
            </div>
            <div class="row"></div>
            <div class="row">
              <div class="col-md-6">
                <label>Ranking</label>
              </div>
              <div class="col-md-6">
                <p>{{codeforces.rating}}</p>
              </div>
            </div>
            <hr />
          </div>
        </div>
      </div>

      <div class="col-md-10" style="padding-left: 8vw">
        <h3>Lichess</h3>
        <hr />
        <div class="tab-content profile-tab">
          <div class="tab-pane fade show active">
            <div class="row">
              <div class="col-md-6">
                <label>User Id</label>
              </div>
              <div class="col-md-6">
                <p>{{lichess.id}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Username</label>
              </div>
              <div class="col-md-6">
                <p>{{lichess.username}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Classical Rating</label>
              </div>
              <div class="col-md-6">
                <p>{{lichess.perfs.classical.rating}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Blitz Rating</label>
              </div>
              <div class="col-md-6">
                <p>{{lichess.perfs.blitz.rating}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Bullet Rating</label>
              </div>
              <div class="col-md-6">
                <p>{{lichess.perfs.bullet.rating}}</p>
              </div>
            </div>
          </div>
          <hr />
        </div>
        <h3>Codeforces History</h3>
        <hr />
        <ol>
          {% for contest in codeforces.contests|slice:":10"%}
          <li class="list">
            <span
              >{{forloop.counter}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              {{contest.Contest}}</span
            ><span class="date">{{contest.timing}}</span>
          </li>
          {%endfor%}
        </ol>
        <hr />
        <h3>Lichess History</h3>
        <hr />
        <ol>
          {% if lichess_history %}
          {% for match in lichess_history|slice:":10"%}
          <li class="list">
            <span
              >{{forloop.counter}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              {{match.perf}}</span
            ><span class="date">{{match.status}}</span>
          </li>
          {%endfor%}{% endif %}
        </ol>
        <hr />
        <h3>Codeforces Upcoming Contest</h3>
        <hr />
        <ol>
          {% for contest in upcoming%}
        <li class="list">
            <a href={{contest.hostingSite}}><span
              >{{forloop.counter}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              {{contest.name}}</span
            ></a><span class="date">{{contest.timing}}</span>
          </li>
          {%endfor%}
        </ol>
        <hr />
        
      </div>
      </div>
      </div>
    </div>
  </form>
</div>

{% endblock content %}
